.title-box-main {
    margin: 0 auto;
    width: 1190px;
    height: 100%;
}

.title-box-main-wenzi {
    font-size: 22px;
    font-weight: 600;
    margin: 50px;
}

.article-box p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-break: break-word;/*分割并换行*/
    line-height: 1.6;
    color: #121212;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    font-size: 15px;
    
}
.article-box img{
    max-width: 1100px;
 
}